@mixin justify-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$back-gray: #8c8d9c;

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
  background: url(../images/body_back.jpg);
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  flex-grow: 1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

.header {
  background-color: #010535;
  margin-bottom: 30px;

  .impaired {
    padding: 5px;
    background-color: $back-gray;
    .container {
      @include justify-align();

      button {
        background-color: #010535;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    gap: 5px;

    &-item {
      display: inline-block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: all 200ms ease;
    }
  }

  &-top {
    .container {
      @include justify-align();
      line-height: 30px;
      padding-top: 10px;
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 70px;
        height: 100%;
      }
    }

    &__info {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &-line {
      display: inline-block;
      width: 100vw;
      height: 4px;
      background: #fff;
    }
  }

  &-center {
    background-color: $back-gray;
    padding: 5px 0;
    .container {
      @include justify-align();
    }

    &__nav {
      &-list-item a {
        transition: all 500ms linear;
        padding: 5px 3px;

        &:hover {
          color: #010535;
        }
      }
    }

    &__search {
      @include justify-align();
      gap: 5px;
    }

    &__submit {
      width: 34px;
      height: 34px;
    }

    &__text {
      height: 28px;
      width: 200px;
      background-color: $back-gray;
      border: 1px solid #2c305d;
      border-radius: 5px;
    }

    &__nav-list {
      @include justify-align();
      gap: 10px;

      &-item {
        position: relative;
        display: inline-block;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__nav__intelligence,
    &__nav__services {
      width: 300px;
      position: absolute;
      display: none;
      flex-direction: column;
      background-color: $back-gray;
      padding: 10px;
      border-radius: 5px;
      gap: 10px;
      top: 30px;
    }

    &__nav-active {
      display: flex;
      z-index: 2;
    }
  }

  &-bottom {
    padding: 5px 0 30px;

    .container {
      @include justify-align();
      gap: 10px;
    }

    &__info {
      width: 50%;
    }

    &-line {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #fff;
      margin: 5px 0 20px;
    }
  }

  .swiper {
    width: 50%;
    &-slide {
      display: flex;
      justify-content: center;
      height: fit-content;

      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.school {
  margin-bottom: 30px;

  &__title {
    background-color: #078d3d;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
  }

  &__block {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &-text {
      width: calc(100% - 600px);
    }

    &-img {
      width: 300px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.driving {
  margin-bottom: 30px;

  &__title {
    background-color: #c91919;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__block {
    @include justify-align();
    flex-wrap: wrap;
    color: #000;
    gap: 10px;

    &-imgs {
      display: flex;
    }

    &-img {
      display: inline-block;
    }
  }
}

.contacts {
  margin-bottom: 30px;

  &__title {
    background-color: #e3e32b;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    color: #000;

    &-item:not(:last-child) {
      width: 160px;
      text-align: center;
      padding-top: 130px;
    }

    &-item {
      &:first-child {
        background: url(../images/icons/contacts_num.png) no-repeat;
        background-position: center 50px;
      }

      &:nth-child(2) {
        background: url(../images/icons/contacts_mail.png) no-repeat;
        background-position: center 50px;
      }

      &:nth-child(3) {
        background: url(../images/icons/contacts_address.png) no-repeat;
        background-position: center 50px;
      }
    }
  }
}

.pathway {
  color: #000;
  margin-bottom: 50px;
}

.about {
  color: #000;
  margin-bottom: 50px;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .about-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    h2,
    h3 {
      margin-bottom: 15px;
    }

    h2,
    h3,
    .about-name {
      color: rgb(255, 0, 0);
    }

    .about-name {
      margin-bottom: 5px;
    }

    & > p {
      margin-bottom: 15px;
    }
  }
}

.contacts-page {
  color: #000;
  margin-bottom: 30px;
  .container {
    h3 {
      margin-bottom: 10px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;

        input,
        textarea {
          padding: 7px;
          border-radius: 5px;
        }
        .form-button:hover {
          cursor: pointer;
        }
      }

      .form-button {
        background-color: RGBa(128, 128, 128, 0.3);
        &:hover {
          background-color: RGBa(128, 128, 128, 0.8);
          cursor: pointer;
        }
      }
    }
  }
}

.private-training,
.gun-sighting,
.manager-promotion,
.security-promotion,
.consultation,
.shooting-training,
.drivers-promotion,
.basic,
.structure,
.documents,
.education-standart,
.scholarship {
  color: #000;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 40px;
  }
}

.structure {
  p {
    text-decoration: underline;
    transition: all 200ms linear;

    &:hover {
      color: #09c;
    }
  }
}

.documents {
  &__photos {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &-item {
      width: 300px;

      img {
        width: 100%;
      }
    }
  }

  &__list {
    margin-left: 30px;
    color: #09c;
    text-decoration: underline;

    &-item:nth-child(n + 10) {
      margin-left: 8px;
    }
  }
}

.education {
  margin-bottom: 50px;

  h2 {
    color: #000;
    margin-bottom: 15px;
  }

  &__list {
    color: #09c;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.management {
  color: #000;
  margin-bottom: 50px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 30px;
  }

  table {
    border: 1px #000 solid;
    margin-bottom: 30px;
  }

  th,
  td {
    padding: 10px;
    border: 1px #000 solid;
  }
}

.material {
  color: #000;
  margin-bottom: 50px;

  h3 {
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #09c;
    }
  }

  &__list {
    margin-bottom: 30px;

    li {
      margin-left: 20px;

      &:nth-child(n + 10) {
        margin-left: 30px;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.paid-services {
  color: #000;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }

  p {
    text-decoration: underline;

    &:hover {
      color: #09c;
    }
  }
}

.finance {
  color: #000;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }
}

.vacant {
  color: #000;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }

  br {
    margin-bottom: 10px;
  }
}

.intelligence,
.services {
  color: #000;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      display: inline-block;
      padding: 5px 10px;
      border: 1px #000 solid;
      border-radius: 5px;

      &:hover {
        text-decoration: underline;
        color: #09c;
      }
    }
  }
}

.gallery {
  color: #000;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      width: 260px;
      padding: 10px;
      border: 1px rgba(0, 0, 0, 0.2) solid;
      border-radius: 5px;
      text-align: center;
      transition: all 500ms ease-in;

      &:hover {
        border-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }

      p {
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 5px;
        height: 175px;
        align-content: center;
      }

      &-img {
        width: 100%;
        transition: all 200ms ease-in;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .active {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      border: none;
      width: auto;
      height: 85vh;

      p {
        width: auto;
        height: 85vh;
      }

      img {
        height: 100%;
        transition: all 200ms ease-in;
        cursor: auto;

        &:hover {
          transform: none;
        }
      }
    }
  }

  .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;

    span {
      position: fixed;
      top: 30px;
      right: 20px;
      width: 40px;
      height: 40px;
      background-color: #fff;
      font-size: 70px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.footer {
  background-color: #010535;
  padding: 15px 0;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(248, 248, 248, 0.3);
    padding-bottom: 10px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    img {
      width: 70px;
      height: 100%;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 10px;
    }

    &__block {
      @include justify-align();
      gap: 10px;
    }
  }

  h3 {
    margin-bottom: 15px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      gap: 10px;
      padding-left: 25px;
      position: relative;

      &:first-child::before {
        content: "";
        background: url(../images/icons/contacts_num.png) no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
      }

      &:nth-child(2)::before {
        content: "";
        background: url(../images/icons/contacts_mail.png) no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
      }

      &:nth-child(3)::before {
        content: "";
        background: url(../images/icons/contacts_address.png) no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  .active {
    width: 100vh;
    height: 85vh;

    p {
      width: auto;
      height: 100%;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

}

@media (max-width: 900px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  .header {
    &-top {
      &__info {
        flex-direction: column;
        gap: 0;
      }
    }

    .burger {
      display: flex;
    }

    &-center {
      .container {
        flex-direction: column;
      }
      &__nav {
        font-size: 30px;
        position: absolute;
        background-color: #8c8d9c;
        z-index: 2;
        padding: 50px 0;
        width: 100%;
        transition: all 400ms linear;
        left: -100vw;

        &-list {
          text-align: left;
          flex-direction: column;
          gap: 20px;
        }

        &__intelligence,
        &__services {
          display: none;
        }
      }
    }

    &-bottom {
      &__info {
        width: 60%;
      }

      .swiper {
        width: 40%;
      }
    }
  }

  .school {
    &__block {
      justify-content: center;
      flex-wrap: wrap;
      &-img {
        order: 1;
      }

      &-text {
        width: 100%;
      }
    }
  }

  .driving {
    &__block {
      justify-content: center;
    }
  }

  .contacts {
    &__block {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .structure {
    .container {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .header {
    &-top__logo {
      a {
        flex-direction: column;
        gap: 0;
      }
    }

    &-center__nav-list {
      text-align: center;
    }
  }

  .driving {
    &__block-img:first-child {
      width: 65%;
    }

    &__block-img:nth-child(2) {
      width: 35%;
    }

    img {
      width: 100%;
    }
  }

  .gallery__list {

    .active {
      width: auto;
      height: 85vh;
  
      p {
        width: 93vw;
        height: auto;
      }
  
      img {
        height: auto;
        width: 100%;
      }
    }

  }

  .footer {
    &-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      padding-bottom: 15px;
    }

    &__contacts-list {
      li {
        padding-left: 0;
      }
      li:before {
        display: none;
      }
    }

    &-bottom {
      text-align: center;
    }
  }
}
